<% provide(:title, 'Mobile Camera') %>

<h1>Mobile Camera</h1>

    <li>
    cam_name <%= @mobilecamera.cam_name %>
    user_id <%= @mobilecamera.user_id %>
    connect <%= @mobilecamera.connect %>
    batt <%= @mobilecamera.batt %>
    chg  <%= @mobilecamera.chg %>
    rec  <%= @mobilecamera.rec %>
    </li>
